@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap&family=Megrim&family=Pompiere&display=swap');

*{
    box-sizing: border-box;   

}

:root {
    /*
        (blue)
        ##21ebff
        rgba(28, 180, 194, 0.9) 70%; 

        (red)
        #ff0000
        rgba(194, 24, 24, 0.9) 70% 

        (green)
        #5dff1c
        rgba(38, 245, 31, 0.9) 70%

        (yellow)
        #fffc2f
        rgba(234, 255, 48, 0.9) 70%

    */
    --theme: #21ebff;
    --theme-shadow-base:rgba(28, 180, 194, 0.9) 70%; 
   
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 55px;
    color: #fff;
    text-shadow: 
        0 0 5px var(--theme),
        0 0 10px var(--theme),
        0 0 20px var(--theme),
        0 0 40px var(--theme),
        0 0 80px var(--theme);
}

.theme-btn-container {
    position: absolute;
    top: 175px;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 0 0 20px 0;
}

.theme-btn {
    background-color: #fff;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.blue-theme { background-color: #21ebff; }
.yellow-theme { background-color: #fffc2f; }
.red-theme { background-color: #ff0000; }
.green-theme { background-color: #5dff1c; }

canvas {
    background-color: #303030;
    display: block;
    border-radius: 5px;
    border: 1px dashed var(--theme);
    margin-top: 15px;
    max-width: 95%;
    z-index: 1;
}
/*Button styling*/
.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: transparent;
    color: #c8f9ff;
    text-shadow: 0 0 5px var(--theme);
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
    border: none;
    max-width: 200px;
}

.btn:before,
.btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--theme);
    box-shadow: 0 0 5px var(--theme);
    transition: all 0.3s ease;
}
.btn:before{height: 50%; width: 2px;}
.btn:after {width: 20%; height: 2px;}

.btn:hover:before {height: 100%;}
.btn:hover:after {width: 100%;}

.btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}
.btn span:before,
.btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--theme);
    box-shadow: 0 0 5px ;
    transition: all 0.3s ease;
}
.btn span:before {width: 2px; height: 50%;}
.btn span:after {height: 2px; width: 20%;}

.btn span:hover:before {height: 100%}
.btn span:hover:after {width: 100%;}
/*End of button styling*/

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to top, var(--theme-shadow-base), 
                rgba(0,0,0,0) 85%, rgba(0,0,0,0) 90%, 
                rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%
    );
    color: #fff;
    text-shadow: 0 0 5px var(--theme);
    min-width: 100%;
    height: 400px;
    padding: 20px;
    line-height: 1.5;
    text-align: center;
    z-index: 5;
    opacity: 0;
    transform: translateY(400px);
    transition: transform 1s ease-in-out, opacity 1s ease;
}

.rules.show {
    transform: translateY(0);
    opacity: 1;
}

.rules h2 {
    margin: 100px 0 0 0;
}